@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap'); /* Poppins SemiBold */
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
    display: flex;
    flex-direction: column;
    margin: 0px;
}


/* Header */
header {
    display: flex;
    flex-direction: column;
    justify-items: center;
    padding: 10px;
}
    /* Navbar */
    nav {
        display: flex;
        flex-direction: row;
        justify-content: center;
        justify-items: center;
        align-items: center;
        gap: 20px;
    }

    /* Icono Creeper */
    .MainIcon img{
        width: 80px;
        height: 80px;
        cursor: pointer;
    }

    /* Icono darkmode */
    nav .lightDark {
        border: none;
        background: none;
        padding: 0;
        box-shadow: none;
        cursor: pointer;
    }
        nav .lightDark img{
            width: 60px;
            height: 60px;
        }


    /* Secciones */
    nav .menu {
        display: flex;
        flex: 1;
        gap: 0;
    }
        nav .menu a{
            border: 1px solid #696969;
            color: black;
            text-decoration: none;
            text-align: center;
            background-color: #D3D3D3;
            padding: 15px 20px;
            font-family: 'Montserrat';
            font-size: larger;
            flex: 1;
            white-space: nowrap;

        }
            nav .menu a:hover {
                background-color: green;
                color: white;

            }


/* HeroImage */
.hero {
    margin: 0px;
    padding: 0px;
    display: block;
}
    .heroImage {
        width: 100%;
        height: 100%;
        
    }

/* Body */

/* Cartas */
.cartas {
    display: flex;
    flex-direction: row;
    border-bottom: 5px #696969 solid;
    margin: 0px;
    padding: 10px;
    font-family: Poppins;
    flex-wrap: wrap;
}
.carta {
    flex: 1;
    border: 8px #696969 solid;
    margin: 20px;
    padding: 15px;
    width: 250px;
    max-height: 250px;
}

.botones {
    border: 1.5px solid #1C4D73;
    background: none;
    border-radius: 3px;
    color: #1C4D73;
    font-family: Poppins;
    padding: 5% 20%;
    
}

    /* Carta Bioma */
    .Bioma {
        padding: 0px !important;
        width: 200px !important;
    }
    .Bioma img{
        width: 100%;
        height: 100%;
    }
    .Bioma .contenido{
        display: flex;
        padding: 10px;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
    }


    /* Slider */
    .CartaSlider {
        display: flex;
        flex-direction: row;
        text-align: center;
        color: #A9A9A9;
    }
            .CartaSlider h3 {
                font-size: 40px;
                margin: 0px;
                margin-bottom: 10px;
            }

    .atras, .adelante {
        border: none;
        background: none;
        margin: 0px 10px;
        padding: 0px;
        box-shadow: none;
        cursor: pointer;
    }
    .slider {
        display: flex;
        gap: 30px;
        
    }
        .item {
            display: flex;
            flex-direction: column;
            justify-items: center;
            justify-content: center;
            align-items: center;
            text-align: center;
            width: 180px;
            height: 200px;
            border: 2px solid #696969;
            padding: 10px;
        }

        .item img {
            width: 80px;
            height: 80px;
        }
            .item img, h4, p, button {
                margin: 1px;
            }


    /* Eventos */
    .Eventos {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
        .Eventos h2 {
            border: 1px solid #696969;
            padding: 10px;
            font-family: 'Montserrat';
            font-size: larger;
            color: #696969;
        }

    /* Mecanica */
    .Mecanica {
        display: flex;
        flex-direction: row;
        padding: 0%;
    }
        .Mecanica img {
            width: 200px;
            height: 100%;
        }


/* Unete a discord */
.Unirse {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 20px;

    font-family: 'Press Start 2P';
    color: white;
    background-color: #8B4513;
}
    .Unirse>h2 {
        font-size: 30px;
    }
    .unete {
        font-family: Poppins;
        background-color: #16A34A;
        border: none;
        font-size: 25px;
        font-weight: 600;

        padding: 10px 50px;
        border-radius: 5px;
        cursor: pointer;
    }

/* footer */
footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0px;
    border-top: 8px solid #696969;

    font-size: 1.5rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
}
    .icons ul {
        display: flex;
        list-style-type: none;
        padding-left: 0;
    }
    .icons img {
        width: 50px;
        height: 50px;
    }

/* Boton Arriba */
.arriba {
    display:inline-block;
    border: none;
    background: none;
    padding: 0;
    box-shadow: none;
    cursor: pointer;

    position: fixed;
    bottom: 80px;
    right: 20px;
    z-index: 9999;
}
    .arriba img {
        width: 90px;
    }

    .icons, ul {
        margin: 0px;
        padding: 0px;
        gap: 10px;
    }

